.music_logo {
  display: flex;
  margin-top: 2rem;
}
.music_logo > img {
  height: 3rem;
  width: 3rem;
}
.music_logo > p {
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  color: #2e0052;
  align-items: center;
}

.container {
  width: 91vw;
  margin-left: 4rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.success_box {
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  gap: 2rem;
}

.success_box p {
  color: #969696;
  font-weight: 500;
  font-size: 1.5rem;
}

.success_box button {
  background-color: #2e0052;
  color: #fff;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  border-radius: 15px;
  cursor: pointer;
}
