.nav_bar {
  display: flex;
  gap: 8rem;
  height: 12vh;
  width: 91vw;
  margin-left: 4rem;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0rem;
  margin-bottom: 1rem;
}
.left_nav {
  display: flex;
  gap: 2rem;
}
.left_nav > p {
  align-content: center;
  cursor: pointer;
  font-weight: 500;
}

.right_nav{
  display: flex;
  position: relative;
}
.cart_nav {
  display: flex;
  gap: 2rem;
  width: 15rem;
  height: 3rem;
}
.cart_sec {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  height: 2rem;
  width: 13.5rem;
  background-color: #1d7000;
  color: #ffffff;
  font-size: 1.8rem;
  padding: 1.6rem 0.3rem;
  gap: 0.5rem;
  cursor: pointer;
}

.cart_sec p {
  font-size: 1.4rem;
}

#initials {
  width: 3.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2e0052;
  cursor: pointer;
}
.music_logo {
  display: flex;
}
.music_logo > img {
  height: 3.3rem;
  width: 3.3rem;
}
.music_logo > p {
  display: flex;
  font-size: 2.7rem;
  font-weight: 600;
  color: #2e0052;
  align-items: center;
}
.popup_inner {
  background-color: #ffffff;
  width: 50%;
  padding: 1rem 0rem;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  position: absolute;
  z-index: 9999;
  right: -2rem;
  top: 115%;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

#user {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 0.5rem;
}

.left_nav p {
  font-size: 1.7rem;
}

.user_logo{
  width: 7rem;
  height: 3rem;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 430px) {

  .nav_bar{
    display: none;
  }

}